{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h4>Add a new topic</h4> 
{% endblock page_header %}

{% block content %}
<!-- The action argument tells the browser where to send the data submitted in the form.
     The method argument tells the browser to submit the data as a POST request. -->
  <form action="{% url 'learning_logs:new_topic' %}" method="post" class="form"> <!-- el input, donde se pone la info/calculo que el topic. --> 
    <!-- Prevent attackers to use unauthorized acces to the server.
         This kind of attack is called cross-site request forgery. -->
    {% csrf_token %} 
    {% bootstrap_form form %} <!-- The as_p modifier tells Django to render all the form elements in a paragraph format. -->
    {% buttons %}
      <button name="submit" class="btn btn-primary">Add topic</button>
    {% endbuttons %} <!-- Create a button-->
  </form>

{% endblock content %}