{% extends "learning_logs/base.html" %}

{% block content %}

  <p>Topics</p>

  <ul>
    {% for topic in topics %}
      <li>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        <!-- difference between topic.id and topic_id
             topic.id examines a topic and retrieves the value of the corresponding ID 
             the variable topic_id is a reference to that ID in the code -->
      </li>
    {% empty %} <!-- tells Django what to do if there are no items in the list -->
      <li> No topics had been added yet. </li> <!-- message printed if there are no items -->
    {% endfor %}
  </ul>

  <a href="{% url 'learning_logs:new_topic' %}"> Add a new topic </a>

{% endblock content %}