{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h2>Topics</h2>
{% endblock page_header %}

{% block content %}

  <ul>
    {% for topic in topics %}
      <li>
        <h4>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        <!-- difference between topic.id and topic_id
             topic.id examines a topic and retrieves the value of the corresponding ID 
             the variable topic_id is a reference to that ID in the code -->
        </h4>
      </li>
    {% empty %} <!-- tells Django what to do if there are no items in the list -->
      <li><h4> No topics had been added yet. </h4></li> <!-- message printed if there are no items -->
    {% endfor %}
  </ul>

  <h5><a href="{% url 'learning_logs:new_topic' %}"> Add a new topic </a></h5> 

{% endblock content %}